[push]
	default = simple
[user]
	name = thblt
	email = thibault@thb.lt
	signingkey = 33CDE511
[core]
	excludesfile = /home/thblt/.gitignore_global
	quotepath = off
[merge]
	tool = meld
	conflictStyle = diff3
[diff]
	tool = meld
