*.dyn_hi
*.dyn_o
*.hi
*.o
*.pyc
*.pyenv
*.swp
*.un~
.DS_Store
.emacs.d/_customize.el
.emacs.d/auto-save-list
.emacs.d/elpa
.emacs.d/eshell
.emacs.d/games
.emacs.d/ido.last
.emacs.d/irony
.emacs.d/projectile-bookmarks.eld
.emacs.d/recentf
.emacs.d/url
.vim/bundle/**
.xmonad/xmonad
.xmonad/xmonad-x86_64-linux
.xmonad/xmonad.errors
