[submodule ".vim/bundle/nerdcommenter"]
	path = .vim/bundle/nerdcommenter
	url = https://github.com/scrooloose/nerdcommenter
	branch = master
[submodule ".vim/bundle/nerdtree"]
	path = .vim/bundle/nerdtree
	url = https://github.com/scrooloose/nerdtree
	branch = master
[submodule ".vim/bundle/fugitive"]
	path = .vim/bundle/fugitive
	url = https://github.com/tpope/vim-fugitive
	branch = master
[submodule ".vim/bundle/tomorrow-theme"]
	path = .vim/bundle/tomorrow-theme
	url = https://github.com/chriskempson/vim-tomorrow-theme
	branch = master
[submodule ".vim/bundle/diminactive"]
	path = .vim/bundle/diminactive
	url = https://github.com/blueyed/vim-diminactive
	branch = master
[submodule ".vim/bundle/hybrid"]
	path = .vim/bundle/hybrid
	url = https://github.com/w0ng/vim-hybrid
	branch = master
[submodule ".vim/bundle/tabular"]
	path = .vim/bundle/tabular
	url = https://github.com/godlygeek/tabular
	branch = master
[submodule ".vim/bundle/sparkup"]
	path = .vim/bundle/sparkup
	url = https://github.com/rstacruz/sparkup
	branch = master
[submodule ".vim/bundle/delimitMate"]
	path = .vim/bundle/delimitMate
	url = https://github.com/Raimondi/delimitMate
	branch = master
[submodule ".vim/bundle/surround"]
	path = .vim/bundle/surround
	url = https://github.com/tpope/vim-surround
	branch = master
[submodule ".vim/bundle/repeat"]
	path = .vim/bundle/repeat
	url = https://github.com/tpope/vim-repeat
	branch = master
[submodule ".vim/bundle/tagbar"]
	path = .vim/bundle/tagbar
	url = git://github.com/majutsushi/tagbar.git
	branch = master
[submodule ".vim/bundle/snipmate"]
	path = .vim/bundle/snipmate
	url = https://github.com/msanders/snipmate.vim
	branch = master
[submodule ".vim/bundle/clang_complete"]
	path = .vim/bundle/clang_complete
	url = https://github.com/Rip-Rip/clang_complete
	branch = master
[submodule ".vim/bundle/markdown"]
	path = .vim/bundle/markdown
	url = https://github.com/plasticboy/vim-markdown
	branch = master
[submodule ".vim/bundle/clang-format"]
	path = .vim/bundle/clang-format
	url = https://github.com/rhysd/vim-clang-format
	branch = master
[submodule ".vim/bundle/ctrlp"]
	path = .vim/bundle/ctrlp
	url = https://github.com/kien/ctrlp.vim
	branch = master
[submodule ".vim/bundle/airline"]
	path = .vim/bundle/airline
	url = https://github.com/bling/vim-airline
	branch = master
[submodule ".vim/bundle/easymotion"]
	path = .vim/bundle/easymotion
	url = https://github.com/Lokaltog/vim-easymotion
	branch = master
[submodule ".vim/bundle/startify"]
	path = .vim/bundle/startify
	url = https://github.com/mhinz/vim-startify
	branch = master
[submodule ".vim/bundle/table-mode"]
	path = .vim/bundle/table-mode
	url = https://github.com/dhruvasagar/vim-table-mode
	branch = master
[submodule ".vim/bundle/jinja2"]
	path = .vim/bundle/jinja2
	url = https://github.com/Glench/Vim-Jinja2-Syntax
	branch = master
[submodule ".vim/bundle/rainbow-parentheses"]
	path = .vim/bundle/rainbow-parentheses
	url = https://github.com/kien/rainbow_parentheses.vim
	branch = master
[submodule ".vim/bundle/outliner"]
	path = .vim/bundle/outliner
	url = https://github.com/vimoutliner/vimoutliner/
	branch = master
[submodule ".vim/bundle/projectionist"]
	path = .vim/bundle/projectionist
	url = https://github.com/tpope/vim-projectionist
	branch = master
[submodule ".vim/bundle/molokai-theme"]
	path = .vim/bundle/molokai-theme
	url = https://github.com/tomasr/molokai
[submodule ".vim/bundle/jellybeans-theme"]
	path = .vim/bundle/jellybeans-theme
	url = https://github.com/nanotech/jellybeans.vim
	branch = master
[submodule ".vim/bundle/autotag"]
	path = .vim/bundle/autotag
	url = https://github.com/craigemery/vim-autotag
	branch = master
[submodule ".vim/bundle/cpp-enhanced-highlight"]
	path = .vim/bundle/cpp-enhanced-highlight
	url = https://github.com/octol/vim-cpp-enhanced-highlight
	branch = master
[submodule ".vim/bundle/goyo"]
	path = .vim/bundle/goyo
	url = https://github.com/junegunn/goyo.vim
	branch = master
[submodule ".vim/bundle/limelight"]
	path = .vim/bundle/limelight
	url = https://github.com/junegunn/limelight.vim
	branch = master
