*.dyn_hi
*.dyn_o
*.hi
*.o
*.pyc
*.pyenv
*.swp
*.un~
./.emacs.d/abbrev_defs
.DS_Store
.config/gtk-3.0/bookmarks
.emacs.d/.mc-lists.el
.emacs.d/.org-id-locations
.emacs.d/.python-environments/
.emacs.d/_customize.el
.emacs.d/abbrev_defs
.emacs.d/auto-save-list
.emacs.d/elpa
.emacs.d/eshell
.emacs.d/games
.emacs.d/ido.last
.emacs.d/irony
.emacs.d/network-security.data
.emacs.d/projectile-bookmarks.eld
.emacs.d/projectile.cache
.emacs.d/recentf
.emacs.d/url
.vim/bundle/**
.xmonad/xmonad
.xmonad/xmonad-x86_64-linux
.xmonad/xmonad.errors
