*.dyn_hi
*.dyn_o
*.hi
*.o
*.pyc
*.pyenv
*.swp
*.un~
.DS_Store
.config/git/signingkey
.config/gtk-3.0/bookmarks
.config/helix/runtime
.gnupg/sshcontrol
.vim/bundle/**
.vim/undo/**
.xmonad/.bin
.xmonad/xmonad-x86*
.xmonad/xmonad.errors
.xmonad/xmonad.state
