#!/bin/sh

# Note: LightDM passes the name of the session as the first parameter of .xprofile.
# Other display managers may not, or may source different files.

if [ "xmonad" == "$1" ]; then

    # Notification server first, so we can report errors
    dunst -conf ~/.xmonad/dunstrc & 

    # Keyboard setup
    if [ "anna" == `hostname` ]; then
       setxkbmap -layout  "macintosh_vndr/fr" -option altwin:swap_lalt_lwin -option caps:ctrl_modifier
    elif [ "rudiger" == `hostname` ]; then
        setxkbmap fr -option compose:menu -option caps:ctrl_modifier
		numlockx on &
    else
        notify-send -u critical ".xprofile" "Unknown computer, keyboard layout not set."
    fi
         
	compton --config ~/.xmonad/compton.conf &
	keynav &
	xautolock -time 5 -locker "slock systemctl suspend" &
	synapse -s &
	udiskie &
	xrdb merge ~/.Xresources # LightDM does it, nodm doesn't 
	xsetroot -cursor_name left_ptr &
	~/.fehbg &
fi
