#!/bin/sh

# Note: LightDM passes the name of the session as the first parameter of .xprofile.
# Other display managers may not, or may source different files.

if [ "xmonad" == $1 ]; then
	compton --config ~/.xmonad/compton.conf &
	numlockx on &
	synapse -s &
	dunst -conf ~/.xmonad/dunstrc & 
	udiskie &
	~/.fehbg &
fi

pass "(void)" # Force pass to unlock beforehand.
offlineimap > ~/.offlineimap.log &
