#ifdef SRVR_rudiger
#define FONT_SIZE 10
#else
#define FONT_SIZE 7
#endif

! Fonts {{{
  Xft.antialias: true
  Xft.hinting:   true
  Xft.rgba:      rgb
  Xft.hintstyle: hintfull
  Xft.dpi:       72
#ifdef SRVR_maladict
  Xft.dpi:       289
#endif
#ifdef SRVR_rudiger
  Xft.dpi:       96
#endif

! }}}

URxvt*font: xft:DejaVu Sans Mono for Powerline:size=FONT_SIZE, \
            xft:Symbola:size=FONT_SIZE:antialias=true:hinting=slight
URxvt*boldFont: xft:DejaVu Sans Mono for Powerline:style=Bold:size=FONT_SIZE, \
                xft:Symbola:size=FONT_SIZE:antialias=true:hinting=slight

! I cant remember the name of this theme, but it looks a lot
! like base16-tomorrow-night which can be https://github.com/powerline/fontsfound at
! https://github.com/chriskempson/base16-xresources/

! special
URxvt*foreground:   #c5c8c6
URxvt*background:   #1d1f21
URxvt*cursorColor:  #c5c8c6

! black
URxvt*color0:       #1d1f21
URxvt*color8:       #969896

! red
URxvt*color1:       #cc6666
URxvt*color9:       #cc6666

! green
URxvt*color2:       #b5bd68
URxvt*color10:      #b5bd68

! yellow
URxvt*color3:       #f0c674
URxvt*color11:      #f0c674

! blue
URxvt*color4:       #81a2be
URxvt*color12:      #81a2be

! magenta
URxvt*color5:       #b294bb
URxvt*color13:      #b294bb

! cyan
URxvt*color6:       #8abeb7
URxvt*color14:      #8abeb7

! white
URxvt*color7:       #c5c8c6
URxvt*color15:      #ffffff


URxvt*scrollBar: false

URxvt*scrollstyle: plain
URxvt*scrollBar_right: true

URxvt.perl-ext-common: default,url-select
URxvt.keysym.M-u: perl:url-select:select_next
URxvt.url-select.launcher: /usr/bin/xdg-open
URxvt.url-select.underline: true

! Turn on/off ISO 14755 (default enabled).
URxvt*iso14755: False
