"*":
  "exception-reporting":
    userId: "283d22e1-8dc0-7218-bd4f-1155e49ba15e"
  welcome:
    showOnStartup: false
  core:
    disabledPackages: [
      "metrics"
      "open-on-github"
    ]
    openEmptyEditorOnStart: false
    themes: [
      "one-dark-ui"
      "atom-dark-syntax"
    ]
    ignoredNames: [
      ".git"
      ".hg"
      ".svn"
      ".DS_Store"
      "._*"
      "Thumbs.db"
      ".*.un~"
      "*.o"
      "*.hi"
      "*.pyc"
    ]
    destroyEmptyPanes: false
  editor:
    invisibles: {}
    showIndentGuide: true
    tabLength: 4
    fontFamily: "Inconsolata-g for Powerline"
    softWrapAtPreferredLineLength: true
    fontSize: 20
    softWrapHangingIndent: 2
    softWrap: true
    showInvisibles: true
  "autocomplete-clang": {}
  "tree-view":
    hideVcsIgnoredFiles: true
    hideIgnoredNames: true
  "vim-surround": {}
  autosave:
    enabled: true
  "haskell-ghc-mod":
    additionalPathDirectories: [
      "/home/thblt/.cabal/bin"
      "/Users/thblt/.cabal/bin"
    ]
    enableGhcModi: false
    useLinter: true
  linter:
    showErrorPanel: false
  "atom-beautify":
    _analyticsUserId: "aa65bed7-7783-45b6-a815-e00891778d42"
    analytics: false
  "vim-mode":
    useSmartcaseForSearch: true
    useClipboardAsDefaultRegister: true
  "merge-conflicts": {}
  "terminal-plus":
    core: {}
    style:
      fontSize: 13
      fontFamily: "Inconsolata-g for Powerline"
      theme: "pro"
      animationSpeed: 0
    toggles:
      autoClose: true
  "spell-check": {}
  minimap:
    autoToggle: false
  "clang-format":
    formatCOnSave: false
    formatCPlusPlusOnSave: false
    formatJavascriptOnSave: false
    formatObjectiveCOnSave: false
  "autocomplete-plus":
    enableAutoActivation: false
    suggestionListFollows: "Cursor"
  Zen:
    softWrap: true
  pigments: {}
  latexer: {}
  "autocomplete-python": {}
  "git-plus": {}
  "ide-haskell": {}
  "pdf-view": {}
".latex.source":
  softWrap: true
