* {
    padding: 0;
    border: 0;
    margin: 0;
}

BODY {
    background-image : url("/home/thblt/Pictures/Wallpapers/Hogwarts_Logo.jpeg");
    background-size: cover;
}

#xmobar {
    display: block;
    position: absolute;
    top : 0;
    left: 0;
    right: 0;
    background: #ebe3e0;
    box-shadow : 0 0 5px 5px rgba(0,0,0,.2);
    overflow: hidden;
    border-bottom: thin solid rgba(0,0,0,25);
}

#left {
    display: block;
    float: left;
    text-align: left;
    margin-left: 1em;
}

#right {
    display: block;
    float: right;
    text-align: right;
    margin-right: 1em;
}

#xmobar ul {
    list-style-type: none;
}

#xmobar li {
    display: inline;
}

.item {
    display: inline-block;
    padding : 1em 0;
    margin : -1em 0;
}

#left .item {
    margin-right: 1em;
}

.deeper {
    background: rgba(0,0,0,.1);
    border-width : 0 thin;
    border-style: solid;
    border-color : rgba(0,0,0,.5);
    box-shadow : 0 0 3px 3px rgba(0,0,0,.3) inset;
}

ul.picker li {
    padding: 0 .5em;
}

ul.picker li:first-child { margin-left : 1em; }

ul.picker li:last-child { margin-right : 1em; }

ul.picker li.current {
/*    background-color : rgba(0,0,0,.75); */
    background: linear-gradient(to bottom, #4c4c4c 0%,#595959 12%,#666666 25%,#474747 39%,#2c2c2c 50%,#000000 51%,#111111 60%,#2b2b2b 76%,#1c1c1c 91%,#131313 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    background: linear-gradient(to bottom, #45484d 0%,#000000 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    color : white;
}

ul.picker li.inactive {
    color: rgba(0,0,0,.1);
}

#tblwrap {
    background: red;
    content : 'Lamba'
}

#layouts table.preview,
#layouts table.preview tr,
#layouts table.preview td {
    border : 1px solid black;
    border-collapse : collapse;
    background-color : black;
    border-color : white;
}

#layouts table.preview {
    height : 1em;
    width: 1em;
    display: inline-table;
    vertical-align : middle;
}

table td.half {
    width: 50%;
}