@import url('https://fonts.googleapis.com/css?family=Inconsolata|Open+Sans+Condensed:300,700|Open+Sans:400,700');
* {
    border: 0;
    margin: 0;
    line-height: 1;
    font-weight: normal;
}

body {
    background: #aaa;
    font-family: "Open Sans";
    margin: 1em;
}

pre, code {
    font-family: "Inconsolata";
}

h1.title,
span.section-number-2,
span.section-number-3,
#postamble
    {
        display: none;
    }

table {
    padding : 1em;
    margin: 1em;
    color: #444444;
}

table tr:first-child,
table td:first-child {
    border-left: 0;
    padding-left : 0;
    margin: 0;
}

/* 
 *This is where the shortcuts are 
 */
table tr td:first-child code {
    display: inline-block;
    color: black;
    background-color: #eee;
    padding: 0 .25em;
    border: thin solid #ddd;
    border-radius : .25em;
}


ul {
    list-style-type: none;
    padding: 0;
    line-height: 5;
}

ul {
    margin: 1em;
    border: thin solid #444;
    border-bottom: 0;
}

ul li {
    display: block;
    padding: .5em 2em .5em 1em;
    background: #eef;
    border-left: 1em solid #7af;
    border-bottom: thin solid #444444;
    text-align: left;
}

#content {
    text-align: center;
}

.outline-2 {
    background: white;
    display: inline-block;
    width: 22em;
    margin: .5em;
    vertical-align: top;
    border-radius: .25em;
    overflow: hidden;
    box-shadow: 0 5px 5px #444;
}

. outline-text-2 {
    border: thin solid #444444;
    box-shadow: inset 0px 0px 5px #000000;
}

h2, h3 {
    font-family: "Open Sans Condensed";
}

h2 {
    font-size: 100%;
    display: block;
    text-transform: uppercase;
    font-weight: bold;
    padding : 1em;
    color: black;
    border-bottom : thin solid black;
    background: #ccc;
    margin-bottom: 1em;
    box-shadow: 0 -5px 5px rgba(0,0,0,.1) inset;    
}


h3 {
    width: auto;
    font-size: small;
    color: black;
    margin-left: auto;
    margin-right: auto;    
    margin: .5em 0;
    padding: .25em 0;
    text-transform: uppercase;
    font-weight: bold;
    margin-top: 1em;
}
h3:before, h3:after {
    content: " ★ "
}
