@import url('https://fonts.googleapis.com/css?family=Inconsolata|Open+Sans+Condensed:300,700|Open+Sans:400,700');

*,
html{
    border: 0;
    margin: 0;
    padding : 0;
    line-height: 1;
    font-weight: normal;
}

body {
    background: #aaa;
    font-family: "Open Sans";
    -moz-column-width: 22em;
    -webkit-column-width: 22em;
    column-width: 22em;
    padding: 1em;
}

pre, code {
    font-family: "Inconsolata";
}

#table-of-contents {
    display: block;
    background: #444;
    width: 100%;
    border-bottom: thin solid black;
    text-align: left;
    display: none;
}
h1.title,
h2,
span.section-number-2,
span.section-number-3,
span.section-number-4,
#postamble
    {
        display: none;
    }

table {
    margin : 1em;
    color: #444444;
    width: 100%;

}

table thead {
    display: none;
}

table tbody > tr:last-child > td {
    padding-bottom: .5em;
}

table tbody + tbody > tr:first-child > td {
    border-top : thin solid #aaa;
    padding-top: .5em;
}

table tr:first-child,
table td:first-child {
    border-left: 0;
    padding-left : 0;
    margin: 0;
}

table tr td  {
    padding: 0 .25em;
    white-space: nowrap;
    width: 1%;
}

table tr td:last-child {
    white-space: normal;
    width: auto;
}

/*
 *This is where the shortcuts/keybindings are
 */
table tr td:first-child {
    width:6em;
}

table tr td:first-child code {
    display: inline-block;
    color: black;
    background-color: #eee;
    padding: 0 .25em;
    margin: 1px 0;
    border: thin solid #ddd;
    border-radius : .25em;
}


.hint {
    margin: 1em;
    border-bottom: 0;
    display: block;
    text-align: left;
    font-size: small;
    box-shadow: 0 0 3px rgba(0,0,0,.5) inset;
    border: thin solid rgba(0,0,0,.5);
    background: #DDE;
}
.hint ul {
    list-style-type: none;
}

.hint p, .hint li {
    padding: .25em .5em;
    border-style: solid;
    border-color: rgba(0,0,0,.2);
    border-width: 0 0 thin 0;

}

.hint *:last-child {
    border-width: 0;
}

#content {
    text-align: center;
}

.outline-2 {
    -webkit-column-break-inside: avoid;
    -moz-column-break-inside: avoid;
    column-break-inside: avoid;
    background: white;
    margin: 0 0 1em 1em;
    vertical-align: top;
    border-radius: .25em;
    overflow: hidden;
    box-shadow: 0 1px 5px #444;
}

. outline-text-2 {
    border: thin solid #444444;
    box-shadow: inset 0px 0px 5px #000000;
}

h2, h3 {
    font-family: "Open Sans Condensed";
}

h2 {
    font-size: 100%;
    display: block;
    text-transform: uppercase;
    font-weight: bold;
    padding : .5em 1em;
    color: white;;
    background: #444;
    margin-bottom: 1em;
}


h3 {
    font-size: small;
    font-weight: bold;
    text-transform: uppercase;
    margin: 0;
    padding: 0;
    color: #000088;
    letter-spacing: .1em;
}
h4:before,
h4:after {
    content: " ★ ";
}
